@import '../../../styles/variables';

.contactText{
    width: 50%;
    padding: 10px 40px 50px 10px;
    .heading-title{
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px){
    .contactText{
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 750px){
    .contactText{
        text-align: center;
    }
}