@import '../../styles/variables';

.termsBlock{
    padding: 50px 0 100px 0;
    max-width: 750px;
    .heading-title{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:750px){
    .termsBlock{
        max-width: 90%;
    }
}